.testing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.hint {
  font-size: 18px;
}

.input {
  height: 35px;
  font-size: 18px;
  border-radius: 10px;
  width: 400px;
  background: #f3f3f3;
  color: #2e3034;
  padding: 0px 10px;
  border: 1px solid #dfdfdf;

  &:focus-visible {
    outline: #808080 solid 2px;
  }
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.arrayElement {
  padding: 5px;
  border: 1px solid #dadada;
  background: #f3f3f3;
  transition: 0.25s;
}

.elementSelect {
  background: #eedcb1;
}

.elementSwitch {
  background: #eedcb1;
  scale: 0.01;
}

.elementFinish {
  background: #dfdfdf;
  border-color: #a0a0a0;
}

.disabledInput {
  background: #dfdfdf;
  color: #6e6e6e;

  &:hover {
    cursor: not-allowed;
  }
}

.sortButtons {
  p {
    font-size: 18px;
  }

  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  row-gap: 10px;
}

.sortButton {
  height: 35px;
  font-size: 18px;
  border-radius: 10px;
  width: max-content;
  padding: 0px 10px;
  border: none;
  transition: 0.3s;
  background: #5ddd68;
  transition: 0.4s;
  grid-column: span 2;
  margin: auto;

  &:hover {
    cursor: pointer;
    scale: 1.04;
  }
}

.disabledSortButton {
  background: #f0f0f0;

  &:hover {
    cursor: wait;
  }
}

.divider {
  background: #ffffff;
  border: none;
}

.checkBoxSwitch {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;

  .checkbox {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox:not(:disabled):active + .checkBoxLabel::before {
    box-shadow: inset 0 0 2px #0000004d;
  }

  .checkbox:checked + .checkBoxLabel {
    background: #32cd32;
  }

  .checkbox:checked + .checkBoxLabel::before {
    transform: translateX(28px);
  }

  /* Hover */
  .checkbox:not(:disabled) + .checkBoxLabel {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.3);
  }

  /* Disabled */
  .checkbox:disabled + .checkBoxLabel {
    filter: grayscale(70%);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .checkbox:disabled + .checkBoxLabel:before {
    background: #eee;
  }

  /* Focus */
  .checkBoxLabelFocus::before {
    box-shadow: inset 0px 0px 4px #ff5623;
  }

  .checkBoxLabel {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25%/50%;
    vertical-align: top;
    background: #eee;
    transition: 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: 0.15s;
    }
  }
}

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}
