.content {
  background: #dfdfdf;
  width: 100dvw;
  height: 100dvh;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 21 41);
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .content {
    height: max-content;
    min-height: 100dvh;
  }
}
