.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.backButton {
  padding: 5px 10px;
  background: #6555aa;
  text-decoration: none;
  width: max-content;
  border-radius: 10px;
  color: #f6db6a;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }
}

.headerContent {
  background: #6555aa;
  border-radius: 10px;
  padding: 10px;
  color: #f6db6a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 500;
}

.sourceCode {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #f6db6a;
  transition: 0.2s;

  background: #2b1c6f;
  svg {
    width: 30px;
    height: 30px;
  }

  &:hover {
    scale: 1.04;
  }
}
