.tree {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100dvw - 60px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 21 41);
    border-radius: 5px;
  }
}

.treeLine {
  display: grid;
}

.arrayElement {
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #dadada;
  background: #f3f3f3;
  transition: 0.25s;
  width: 50px;
  text-align: center;
}

.elementSelect {
  background: #eedcb1;
}

.elementSwitch {
  background: #eedcb1;
  scale: 0.01;
}

.elementFinish {
  background: #dfdfdf;
  border-color: #a0a0a0;
}
