.descriptionTab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descriptionImg {
  width: 400px;
  pointer-events: none;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin: 0px 10px;
  padding: 10px 0px;
  border-top: 3px double #eedcb1;
}

@media (max-width: 768px) {
  .descriptionImg {
    width: 100%;
  }
}
