.sort {
  background: #ffffff;
  border-radius: 10px;
}

.sortHeader {
  border-radius: 10px;

  display: grid;
  grid-template-columns: 30px auto;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }

  list-style: none;
  list-style-type: none;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.odd {
  background: #eedcb1;
  color: #2e3034;

  svg g {
    fill: #2e3034;
  }
}

.even {
  background: #2e3034;
  color: #f5f6f6;

  svg g {
    fill: #f5f6f6;
  }
}

.arrow {
  transition: 0.5s;
}

.rotateArrow {
  transform: rotate(180deg);
}

.tabs {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.tab {
  font-size: 18px;
  padding: 5px 10px;
  background: #eedcb1;
  color: #2e3034;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    scale: 1.05;
    background: #ddc896;
  }

  &:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.activeTab {
  border: 1px solid #2e3034;
  background: #2e3034;
  color: #f5f6f6;

  &:hover {
    cursor: default;
    scale: 1;
    background: #2e3034;
  }
}

@media (max-width: 768px) {
  .tabs {
    width: 100%;
    background: #eedcb1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;

    margin: 10px 0px;
  }

  .tab {
    padding: 5px;
  }
}
